@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/typography";

/* @custom-variant dark (&:is(.dark *)); */

:root {
	--font-rubik: 'Rubik', sans-serif;
	--font-roboto-mono: 'Roboto Mono', monospace;
	--font-press-start: 'Press Start 2P', system-ui;
	--background:  #f2eded;
}

@theme inline {
	--font-heading: var(--font-rubik);
	--font-text: var(--font-roboto-mono);
	--font-accent: var(--font-press-start);

	--breakpoint-xxs: 350px;
	--breakpoint-xs: 390px;
	--breakpoint-max: 2200px;

	--color-nintendo-red: #e60012;
	--color-nintendo-blue: #00c3e3;

	--color-ps-blue: #2e6db4;


	--color-ownPurple-400: #7852BF;
	--color-ownPurple-600: #83688e;

	--color-ownPink-200: #f7adc5;
	--color-ownPink-400: #d46892;
	--color-ownPink-600: #e872bf;

	--color-ownYellow-400: #E9E159;
	--color-ownYellow-600: #f7c90f;

	--color-ownTurquise-400: #05bbd4;
	--color-ownTurquise-600: #62c5c6;

	--color-ownBlue-200: #d2ddf1;
	--color-ownBlue-400: #71c3e6;
	--color-ownBlue-600: #4a47b8;

	--color-ownOrange-400: #fc9b7a;
	--color-ownOrange-800: #ff310e;



	--color-font-light: #ffffff;
	--color-font-dark: #100f0d;


	--color-background: var(--background);

	
}

@layer base {
	html {
		@apply scroll-smooth scroll-pt-16;
	}

	body {
	
		@apply  bg-background font-text   overflow-x-hidden;
	}
}

@layer utilities {
	.nav-link {
		@apply font-heading font-semibold uppercase text-xl hover:bg-black rounded-lg px-4 py-2 lg:p-2 hover:text-font-light border-2 lg:border-none;
	}
	.nav-link--active {
		@apply font-heading font-semibold uppercase text-xl bg-black rounded-lg px-4 py-2 lg:p-2 text-white hover:bg-black hover:text-font-light border-2 lg:border-none;
	}

	.custom-border {
		@apply rounded-lg border-3 border-black 
	}
}


.swiper {
	width: 100%;
	height: 100%;
  }
  
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
  
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .prose img{
	@apply mx-auto
  }